* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dfd0b5;
  color: #3c3a36;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 245, 236, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  gap: 25px;
  padding: 12px 25px;
  z-index: 1000;
}

nav a {
  color: #4a493b;
  font-weight: 600;
  transition: 0.2s; /*變色動畫*/
}

nav a:hover {
  color: #9a846a;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 1000px;
  width: 100%;
  margin: 80px auto 0 auto;
  padding: 40px 50px;
}

header section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

header aside img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  border: 2px solid #e0d7c9;
  flex-shrink: 0;
}

header article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
  color: #3b3227;
}

header p {
  margin: 4px 0;
  font-size: 0.95em;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.contact i {
  color: #826f57;
  margin-right: 8px;
}

main {
  max-width: 1000px;           
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;                     
  padding: 0;                  
}

main section {
  width: 100%;               
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px 35px 20px;
  margin: 0;                
}

section:last-child {
  border-bottom: none;
}

h2 {
  color: #4a4338;
  font-size: 1.4em;
  margin-bottom: 10px;
  padding: 4px 10px;
  border: 2px solid #b7a78a;
  border-radius: 6px;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
}

#projects article {
  padding-bottom:15px;
  margin-bottom:20px;
  border-bottom:none;
}

.project-flex {
  display:flex;
  align-items:center;
  gap:30px;
}

.project-flex-left {
  display:flex;
  align-items:center;
  gap:30px;
}

.project-slider {
  position:relative;
  width:201px; 
  height:201px;
  flex-shrink: 0;
  overflow:hidden;
  border-radius:12px;
}
.project-slider img {
  position:absolute;
  width:100%; 
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1s ease; /* 淡入淡出 */
}
.project-slider img.active { opacity:1; }

.exp-img-group img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
  
.skills {
  display: flex;
  gap: 35px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skill {
  text-align: center;
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* 進度條：由 --percent 控制 */
  background: conic-gradient(
    #b08c63 calc(var(--percent) * 1%), 
    #e6d8c7 0
  );
}

.inner-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #5a4a3a;
  font-size: 1rem;
  box-shadow: inset 0 0 5px #cabaa8;
}

.skill p {
  margin-top: 8px;
  font-weight: 600;
  color: #4a3f33;
}


.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff90;
  border: 2px solid #7a6a54;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #7a6a54;
}

footer {
  background-color: rgba(241, 231, 199, 0.815);;
  backdrop-filter: blur(5px);
  color: #444;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: 60px;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #826f57;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

#topBtn:hover {
  background-color: #a88f74;
}

.social-links {
  position: fixed;
  right: 0px;
  bottom: 80px;       
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 999;
}

.social-links a {
  width: 40px;
  height: 40px;
  background-color: #bca07f;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s, transform 0.2s;
  font-size: 18px;
}

.social-links a:hover {
background-color: #a88f74;
transform: translateX(-10px); /* 滑過時往左凸出 */
}

@media screen and (max-width: 800px) {
  header section {
    flex-direction: column;
    text-align: center;
  }

  header aside img {
    width: 100%;
    height: auto;
  }
}